.Rproj.user
.Rhistory
.RData
.Ruserdata
/output/*
!/output/.gitkeep
/figure1/*
!/figure1/*.Rnw
!/figure1/*.pdf
/appendix_c/*
!/appendix_c/*.Rnw
!/appendix_c/*.pdf
/online_appendix/*
!/online_appendix/*.Rnw